*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: 55px solid #141414;
    background-color: #fff;
}

.container h1{
    font-size: 150px;
    font-family: sans-serif;
}

span:nth-child(1){
    color: #2B75F5;
}

span:nth-child(2){
    color: #D5422D;
}

span:nth-child(3){
    color: #FFC206;
}

span:nth-child(4){
    color: #2B75F5;
}

span:nth-child(5){
    color: #00934F;
}

span:nth-child(6){
    color: #D5422D;
}

input{
    width: 400px;
    padding: 5px;
    margin: 20px auto;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid #6b6b6b;
    background-color: #fff;
    outline: none;
}

::placeholder{
    font-size: 16px;
}

button{
    border: none;
    border-radius: 8px;
    font-size: 17px;
    padding: 10px 15px;
    background-color: green;
    color: #fff;
    cursor: pointer;
}

button:hover{
    border: none;
    background-color: rgb(57, 175, 57);
    box-shadow: 0 0 16px greenyellow;
    color: #fff;
}
